@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
body{
  @apply text-white bg-black
}
  .box1{
    background: linear-gradient(134.41deg, rgba(20, 0, 255, 0.315) -22.6%, rgba(0, 102, 255, 0.315) 101.05%);
  }
  .box2{
    background: linear-gradient(134.41deg, rgba(112, 0, 255, 0.315) -22.6%, rgba(255, 0, 153, 0.315) 101.05%);
  }
  .box3{
    background: linear-gradient(134.41deg, rgba(219, 255, 0, 0.315) -22.6%, rgba(33, 159, 148, 0.45) 101.05%);
  }
  .box4{
    background: linear-gradient(134.41deg, rgba(20, 0, 255, 0.315) -22.6%, rgba(0, 102, 255, 0.315) 101.05%);
  }
  .box5{
    background: linear-gradient(134.41deg, rgba(112, 0, 255, 0.315) -22.6%, rgba(255, 0, 153, 0.315) 101.05%);
  }
 
}



